<div class="<%= user.id == message.user_id ? 'message' : 'message right' %>">
    <%= image_tag "avatar" %>
    <div class="bubble">
      <%= message.body %>
      <div class="corner"></div>
      <span>1 min</span>
    </div>
</div>
