<div class="<%= user.id == message.user_id ? 'message right' : 'message' %>">
    <%= image_tag "avatar" %>
    <div class="bubble">
      <%= message.body %>
      <div class="corner"></div>
      <span><%=  message.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%H:%M")%></span>
    </div>
</div>
