<div id="frame">
    <div id="waiting_for_tutor">
        <h2 class="head_style">Waiting for Tutor <%= @tutor.first_name %> <%= @tutor.last_name %></h2>
        <br>
        <%= image_tag "Loading.gif" %>
        <div class="row">
          <%= link_to "Cancel", tutee_cancel_tutor_path, class: "btn btn-lg btn-block cancel_btn", remote: true %>
        </div>
    </div>
</div>
