<div id="frame" class="animated bounceInUp">
  <div class="">
  <div id="incoming_requests">

    <!-- Alert -->
    <% if @tutoring_sessions.nil? == true || @tutoring_sessions.count == 0 %>
      <div class="row justify-content-center">
        <div class="col col-12 p-5">
          <div class="alert alert-info p-3" role="alert">
            <h4 class="alert-heading"><i class="fa fa-graduation-cap" aria-hidden="true"></i>   You have no request.</h4>
          </div>
        </div>
      </div>
    <% else %>
    <!-- Alert: END -->

    <div class="row">
        <%= render partial: 'tutor/tutoring_sessions', locals: {tutoring_sessions: @tutoring_sessions} %>
    </div>
    <% end %>
  </div>
</div>
</div>

<%= javascript_include_tag('notification.js') %>
