/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body, html, .container-fluid, .sidebar, .body {
    height: 100%;
    font-size: 12px;   /* change default size due to switching v3 to v4 */
}
body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
}
body .row_index{
  padding: 0;
  margin: 0;
  min-width: 1280px;
  max-width: 2560px;
  height: -webkit-fill-available !important;
}
* {
  margin:0;
  padding:0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.row {
  margin: 0 !important;
}
.row .col {
  margin: 0;
  padding: 0;
  height: inherit !important;
}
nav:focus{
  outline: none;
}
/*---------- Style Font ------------*/
.page_title {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #190455;
	text-transform: uppercase;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 430;
}
.head_style {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #190455;
  font-size: 2rem;
  font-weight: 400;
}
.text_style {

}
/** Button Style **/
.accept_btn {
  background: #EB6E78;
  color: #fff;
}
.cancel_btn {
  background: #EEEEEE;
  color: inherit;
}
.complete_btn {
  background: #4DC1C6;
  color: #fff;
}
.accept_btn:hover {
  background: #E95E69;
  color: #fff;
}
.cancel_btn:hover {
  color: inherit;
}
.complete_btn:hover {
  background: #46B0B4;
  color: #fff;
}
/*---------- Style Font: END ------------*/

/*==================== NAVIGATION BAR =======================*/
nav.nav_top {
  border-bottom: 1.4px dashed rgba(0,0,0,.2);
  padding: 0 !important;
  margin: 0;
  width: 100%;
}
nav ul li a {
  color: #777;
  font-size: 1.25rem;
}
nav ul li a:hover {
  color: inherit;
}
#style_nav_txt {
	font-weight: bold;
	font-family: 'Pangolin', sans-serif;
	font-size: 2.4rem;
	color: #9075BD;
}

.nav_top .btn {
	border: 2px solid #ABACD3;
	padding: 7px 10px;
	margin: 8px;
	color: #ABACD3;
}
.navbar-header-leaf {
	border-right: 1.3px solid #DBDBDB;
	height: 40px;
	margin: 7px 0;
	width: 100%;
}
/*==================== NAVIGATION BAR: END =======================*/

/*==================== SIDE NAVIGATION BAR: =======================*/
.menu {
  background: linear-gradient(#4E4A85,#4E4A85,#80e3fd, white);
  height: -webkit-fill-available !important;
  width: 100%;
  z-index: 5;
  box-shadow: 5px 0 5px -5px #777;
}
.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}
// .menu .avatar #avatar {
//   width: 120px;
//   height: 110px;
//   border-radius: 50%;
//   overflow: hidden;
//   border: 4px solid #fff;
//   box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
// }
.menu .avatar .circle {
  width: 120px;
  height: 114px;
  border-radius: 50%;
	display: flex;
  background-image: linear-gradient(to top left, #4568dc, #b06ab3);
	margin: auto;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar #avatar {
  margin: auto;
	width: 100%;
  border-radius: 50%;
  //border: 5px solid #fff;
}
.menu .avatar #session_img_init {
  margin: auto;
  color: #fff;
  font-size: 4.5rem;
}
.menu .avatar h2 {
  font-weight: 500;
	font-family: 'Pangolin', sans-serif;
	font-size: 2.4rem;
	color: #777;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu ul li {
  padding: 20px 0 20px 40px;
  outline: none;
}
.menu ul li:hover {
  border-right: 6px solid #80E3FD;
  background: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  border-right: 6px solid #80E3FD;
}
.menu .btn {
  font-size: 1.1rem;
  color: white;
}
.side_nav_bar_row {
  padding: 40px 0;
  width: 100%;
}
.side_nav_bar_row i {
  text-align: center;
  font-size: 1.1rem;
}
/*---------- Page Responsive ------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .menu .btn {
    font-size: 1rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar h2 {
    font-size: 1.9rem;
  }
  .menu .btn {
    font-size: 0.9rem;
  }
  .side_nav_bar_row i {
    font-size: 0.9rem;
  }

}

@media all and (max-width: 768px) {
  .menu .avatar h2 {
    font-size: 1.5rem;
  }
  .menu .btn {
    font-size: 0.8rem;
  }
}
/*---------- Page Responsive: END ------------*/
/*==================== SIDE NAVIGATION BAR: END =======================*/

/*==================== DASHBOARD: =======================*/

/*---------- Page Responsive ------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  body .row_index{
    min-width: 1024px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  body .row_index{
    min-width: 768px;
  }
}
@media all and (max-width: 768px) {
  body .row_index{
    min-width: 768px;
  }
}
/*---------- Page Responsive: END ------------*/

/*==================== Session Card: =======================*/
.session_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10px;
		background: linear-gradient(-40deg, transparent 35%, rgba(255, 255, 255, 1) 35%), url(asset-path('subject/csci.png'));
}
.session_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.session_card_head .circle {
	width: 131px;
  height: 128px;
  border-radius: 50%;
	display: flex;
  background-image: linear-gradient(to top left, #3acfd5 0%, #3a4ed5 100%);
	margin: auto;
}
.session_card_head .session_img{
	margin: auto;
	width: 90%;
  border-radius: 50%;
}
.session_card_head #session_img_init {
  margin: auto;
  color: #fff;
  font-size: 5.5rem;
}
.session_card h3 {
	color: #484848;
	font-size: 1.7rem;
	letter-spacing: 1.3px;
	font-weight: 400;
}
#card_subject {
	color: #4A4A4A;
	font-size: 1.2rem;
	font-weight: 350;
}
#card_subject .bold{
	font-weight: 500;
}
.session_card label {
	color: #666666;
	font-size: 1.1rem;
	font-weight: 250;
	border-bottom: 2.1px solid rgba(0,0,0,.2);
}
.session_card #card_question {
	color: #484848;
	font-size: 1.1rem;
}
.session_card {
	padding: 35px;
}

.session_card_head {
	//background-color: blue;
	text-align: center;
}

/*==================== Session Card: END =======================*/


/*==================== DASHBOARD: END =======================*/

/*==================== FOOTER:  =======================*/
footer {
  width: 100%;
  text-align: center;
	color: #553f7a;
	height: 10%;
  bottom: 0;
  opacity: 0.4;
  font-size: 1rem;
  background-blend-mode: multiply;
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: min-content;
}

.row .col {
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: -webkit-fill-available;
}

@media (min-width: 992px) {
	.container {
	    width: 100% !important;
	}
}
/*==================== FOOTER: end =======================*/

/*==================== NOTIFICATION: =======================*/

mark {
  background-color: transparent !important;
}

.notify {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 0.5px solid #FFF;
  box-shadow: 0.6px 0.6px #505551;
  width: 18px;
  height: 18px;
  background-color: #47A395 !important;
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFF;
  font-weight: 100;
}
/*==================== NOTIFICATION: end =======================*/
